.link {
  font-size: 16px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  transition: all var(--transition-duration);

  &:hover,
  &:focus-visible {
    border-bottom: 2px solid var(--color-light);
  }
}
