.header {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.links {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  list-style: none;
  width: 800px;
}
